#root,html,body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
}
.app{
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ),url(./images/1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background-color: rgb(22, 22, 22);
    opacity: 0.9;
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    padding: 2%;
    
}
.heading{
    display: flex;
    align-items: center;
    height: 500px;
    font-family: 'Caveat', cursive;
    color: whitesmoke;
}
.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 200px;
    width: 210px;
   border: 1px solid black;
    background-color:black;
  
  }
    
  .button span {
    color: rgba(245, 245, 245, 0.808);
    font-size: 12px;
    font-weight:lighter;
    letter-spacing: 1px;
  }
    
  .button:hover {
    animation: rotate 0.7s ease-in-out both;
  }
    
  .button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
    
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
    
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  @media only screen and (max-width: 600px){
      .card{
          width: 80%;
          height: 30%;
      }
      
  }